.lorum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2vw;
  margin-bottom: 10vw;
  padding-top: 5vw;
}
.lorum a {
  text-decoration: none;
  position: absolute;
  bottom: 4px;
  left: 0;
  color: black;
  background-color: white;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.lorum div {
  position: relative;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
.lorum span {
  color: #bdbdbd;
  font-weight: 300;
  font-size: 64px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 0 5vw 5vw 5vw;
}

.about a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1vw;

  bottom: 4px;
  left: 0;
  color: black;
  background-color: white;
  padding: 2vw;
}
.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 60%;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.focus {
  margin: 2vw 4vw;
}
.focus h2 {
  text-align: center;
  color: gray;
  margin-bottom: 2vw;
}
.focus-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  margin: 0 4vw;
}
.cont-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.cont-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
