.head nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3vw;
  padding: 3vw;
}
.head div {
  display: flex;
  gap: 2vw;
}

.head a {
  text-decoration: none;
  padding: 3px;

  color: black;
}

.logoo {
  margin-bottom: -15px;
}
